/* Theme Colors */
:root {
  /* Light Theme Colors */
  --base: #ffffff; 
  --surface: #f2f2f2; 
  --overlay: #cccccc; 
  --muted: #666666; 
  --subtle: #333333; 
  --text: #000000; 
  --highlight: #cccccc; 

  --slow-transition-duration: 1s; 
  --fast-transition-duration: 0.3s;
  --transition-property: background-color, color; 
}

/* Dark Theme Colors */
.dark-mode {
  --base: #1f1f1f; 
  --surface: #333333; 
  --overlay: #666666; 
  --muted: #999999; 
  --subtle: #cccccc; 
  --text: #ffffff; 
  --highlight: #999999; 

  --slow-transition-duration: 1s;
  --fast-transition-duration: 0.3s;
  --transition-property: background-color, color; 

}

body {
  margin: 0;
  background: var(--base);
  color: var(--text);
  padding: 0;
  transition: background-color var(--slow-transition-duration), color var(--slow-transition-duration);
  overflow-x: hidden;
}

.navbar {
  background: var(--base);
  font: bold 14px/1.4 "Open Sans", Arial, sans-serif;
  padding: 20px 0;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
  justify-content: top;
  margin: 0 auto;
}

.navbar li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.navbar a {
  color: var(--text);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--text);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after {
  width: 100%;
  left: 0;
}

.content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: var(--base);
}

.content section {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
  max-width: 800px;
}

.container img {
  width: 100%;
}

.container h1 {
  font-size: clamp(1px, 3.2vw, 28px);
}

.container p {
  font-size: clamp(1px, 2.2vw, 20px);
  line-height: 1.6;
}

.container span {
  opacity: .1;
}

/* Minimap */
.minimap__container{
  position: fixed;
  top: 10px;
  left: 10px;
  min-width: 20px;
  z-index: 100;
  max-width: 10%;
}

.minimap__size{
  position: relative;
  z-index: 5;
  border: 2px solid var(--base);
}

.minimap__viewer{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  z-index: 100;
  border: 1px solid var(--text);
}

.minimap__content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: 0 0;
  border: 1px solid var(--base);
  
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

.dark-mode {
  background-color: var(--base);
}

.dark-mode a {
  color: var(--text);
}

.dark-mode a:after {
  background: var(--text);
}

.dark-mode a:hover:after {
  background: var(--text);
}

/* Footer Styles */
footer {
  background: var(--base);
  color: var(--text);
  text-align: left;
  padding-left: 10%;
  font-size: 14px;
  width: calc(100% - 10%); 
  box-sizing: border-box; 
  font-family: "Inter", sans-serif;
}